.popularidad {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.botonpopularidad {
  background-color: #1DB954;
  border: none;
  padding: 10px 18px;
  border-radius: 8px;
  color: black;
  font-weight: bold;
  cursor: pointer;
  margin-bottom: 12px;
}

.lista {
  display: flex;
  flex-direction: column;
  gap: 12px;
  list-style: none;
  padding-left: 0;
}

.item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #111;
  color: #1DB954;
  padding: 8px 12px;
  border-radius: 8px;
  border: 1px solid #1DB95444;
}

.item button {
  background: transparent;
  cursor: pointer;
  font-size: 20px;
}
