.header {
  position: fixed; 
  top: 0;     
  left: 0;
  width: 100%; 
  background-color: #1DB954;
  color: black;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1000;  
}

.logo p {
  margin: 0;
  font-weight: bold;
  font-size: 20px;
}

.menu {
  list-style: none;
  display: flex;
  gap: 300px;
  margin: 0;
  padding: 0;
  
}

.menu a {
  color: black;
  text-decoration: none;
    
}

.menu a:hover {
  text-decoration: underline;
}


body {
  margin: 0;
  padding-top: 60px; 
}
