.playlistDisplay {
  margin-top: 20px;
  color: white;
}

.botonPlaylist {
  background-color: green;
  border: none;
  padding: 10px 18px;
  color: white;
  font-weight: bold;
  border-radius: 8px;
  cursor: pointer;
  margin-bottom: 15px;
}

.botonPlaylist:hover {
  background-color: darkgreen;
}

.listaPlaylist {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.trackItem {
  display: flex;
  align-items: center;
  gap: 15px;
  background-color: black;
  padding: 12px;
  border-radius: 10px;
  border: 2px solid gray;
}

.info {
  display: flex;
  flex-direction: column;
}

.titulo {
  font-size: 16px;
  font-weight: bold;
  color: white;
}

.artista {
  font-size: 14px;
  color: lightgray;
}

